<div class='span12'>
	<h1>Web Developer</h1>
	<p>
		Good websites look dynamic. Great websites are dynamic! With a passion for 
		building data-backed, dynamic, user-friendly websites, my goal is delivering a 
		product that is inviting for customers and easy to maintain for the client.
	</p>
</div>
<div class='span6'>
	<h1>Recent Projects</h1>
	<ul>
		<li><%= link_to 'GitSetGo', '#' %></li>
		<li><%= link_to 'BeerOn', '#' %></li>
		<li><%= link_to '#caHack', '#' %></li>
	</ul>
</div>
<div class='span6'>
	<h1>Recent Articles</h1>
	<ul>
		<% @blog_posts.reverse.each do |blog_post| %>
			<li><%= link_to blog_post.title, blog_post_url(blog_post.id) %></li>
		<% end %>
	</ul>
</div>