<div class='span12'>
	<h1>Administrative</h1>
	<h2>Manage Blog Posts</h2>
	<p><%= link_to 'Add a New Blog Post', new_blog_post_url %></p>
	<hr/>
	<h2>Manage Portfolio</h2>
	<p><%= link_to 'Add a New Project', '#' %></p>
	<hr/>
	<br/>
	<p><%= link_to 'Sign Out', sign_out_url, class: 'button' %></p>
	<br/>
</div>