$light_charcoal:#7494A6;
$charcoal:#222B30;
$dark_charcoal:#181C26;

$white_blue:#F2F6FF;
$grey_blue:#515E7F;
$lighter_blue:#B2C7FF;
$light_blue:#A4BCFF;
$blue:#5784FF;
$dark_blue:#466ACC;
$darker_blue:#2C427F;
$darkest_blue:#283C73;

$darker_purple:#D92F00;
$dark_purple:#FF4800;
$purple:#FF6A00;

$frame_border:$charcoal;
$frame_box_shadow:$dark_charcoal;
$logo:white;
$active_menu_link:$dark_purple;
$active_menu_link_hover:$purple;
$active_menu:$white_blue;
$inactive_menu_light:$dark_blue;
$inactive_menu_dark:$darkest_blue;
$inactive_menu_link:white;
$inactive_menu_link_hover:$white_blue;
$inactive_menu_link_shadow:black;
$span_border:$grey_blue;
$span_content:white;
$span_shadow:$lighter_blue;
$header_background_light:$dark_blue;
$header_background_dark:$darker_blue;
$header:white;
$header_shadow:black;
$sub_header:$dark_purple;
$content:$white_blue;
$link:$dark_purple;
$link_hover:$purple;
$input_border:$grey_blue;
$button_light:$purple;
$button_dark:$darker_purple;
$button_border:$darker_purple;

html {
	height:100%;
	body {
		
		/* Emily's Reset */
		height:100%;
		font-family:'pontano sans';
		a {
			text-decoration:none;
		}
		/*background:-webkit-radial-gradient($background_outside, $background_inside);*/
		background:url('random_grey_variations.png');
		/* Custom CSS */		
		.frame {
			margin:20px auto;
			width:960px;
			background:transparent;
			header {
				height:80px;
				background:transparent;
				.logo {
					float:left;
					padding:20px 20px 0px;
					font-size:40px;
					a {
						color:$logo;
						font-weight:bold;
						text-shadow:1px 1px 5px black;
					}
				}
				.menu ul {
					float:right;
					margin:40px 0px 0px;	
					li {
						float:left;
						margin:0px 0px 0px 10px;
						padding:10px 20px 9px 20px;
						border:1px solid $frame_border;
						border-top-right-radius:4px;
						border-top-left-radius:4px;
						background:-webkit-linear-gradient(top,$inactive_menu_light,$inactive_menu_dark);
				    /*box-shadow: 0 -10px 10px $blue3, 10px -10px 10px $blue3, -10px -10px 10px $blue3;*/
						font-size:20px;
						a {
							color:$inactive_menu_link;
							text-shadow:1px 1px 10px $inactive_menu_link_shadow;
						}
						a:hover {
							color:$inactive_menu_link_hover;
						}
					}
					li.active {
						background:$active_menu;
						border-bottom:1px solid $active_menu;
						a {
							color:$active_menu_link;
							text-shadow:none;
						}
						a:hover {
							color:$active_menu_link_hover;
						}
					}
				}
			}
			.content {
				height:700px;
				border:1px solid $frame_border;
				border-radius:4px;
				border-top-right-radius:0px;
				background:$content;
				box-shadow:0px 0px 40px $frame_box_shadow;
				padding:20px 10px;
				.span12 {
					width:916px; /*TEST THIS LATER*/
				}
				.span6 {
					width:446px; /*TEST THIS LATER*/
				}
				.span8 {
					width:600px;
				}
				.span4 {
					width:290px;
				}
				.span12, .span6, .span8, .span4 {
					border:1px solid $span_border;
					border-radius:4px;
					box-shadow:3px 3px 3px $span_shadow;
					margin:0px 10px 20px;
					float:left;
					background:$span_content;
					padding-bottom:10px;
					p, li {
						line-height:22px;
						font-size:18px;
						padding:10px 15px 10px;
					}
					h1 {
						font-size:22px;
						padding:10px 15px;
						border-bottom:1px solid $span_border;
						background:-webkit-linear-gradient($header_background_light,$header_background_dark);
						color:$header;
						text-shadow:1px 1px 10px $header_shadow;
						margin-bottom:10px;
					}
					h2 {
						color:$sub_header;
						font-size:20px;
						padding:15px 15px;
					}
					a {
						color:$link;
					}
					a:hover {
						color:$link_hover;
					}
					form {
						padding:10px 15px;
						input, label, textarea {
							padding:5px 0px;
							display:block;
							font-size:18px;
						}
						input, textarea {
							width:400px;
							border:1px solid $input_border;
							border-radius:4px;
						}
					}
					.button {
						width:auto;
						padding:10px 20px;
						color:white;
						background:-webkit-linear-gradient($button_light,$button_dark);
						border:1px solid $button_border;
						text-shadow:0px 0px 5px black;
						border-radius:4px;
					}
				}
				.alert-error {
					border:1px solid red;	
					color:darkred;
					background:pink;	
				}
				.alert-success {
					border:1px solid green;
					color:darkgreen;
					background:lightgreen;
				}
				.alert-notice {
					border:1px solid $blue;
					color:$darker_blue;
					background:$light_blue;
				}
				.alert-error, .alert-notice, .alert-success {
					margin:0px 10px 20px;
					padding:10px 15px;
					border-radius:4px;			
					p {
						margin-left:15p;
						line-height:22px;
						font-size:18px;
						padding:10px 15px 10px;
					}
				}
				.blog_post {
					height:600px;
					overflow-y:scroll;
				}
				.icon {
					width:25px;
					padding-right:10px;
				}
			}
			footer {
				padding:20px 10px;
				ul {
					li {
						font-size:18px;
						color:white;
					}
					.pull-left {
						float:left;
					}
					.pull-right {
						float:right;
					}
				}
			}		
		}
	}
}